################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/MyLifeManager
/.vs/MyLifeManager_POO/v17
/MyLifeManager/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MyLifeManager/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MyLifeManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MyLifeManager/obj/Debug/MyLifeManager.csproj.AssemblyReference.cache
